body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  line-height: 22px;
  color: white;
}

a {
  color: white;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.index-header {
  display: flex;
  flex-direction: column;
}

.index-header li {
  list-style: none;
}

.main-menu {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.main-menu .logo {
  margin-right: 10px;
}

.main-menu li {
  padding-bottom: 13px;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 460px;
}

.main-navigation a {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: white;
  margin: 0px;
  padding: 7px 12px;
  padding-right: 17px;
}

.main-navigation .main-menu-button {
  color: white;
  border-radius: 50px;
}

.sub-menu-container:hover .main-menu-button {
  color: #333333;
  text-decoration: none;
  background: #ffffff;
}

.main-menu-button:active {
  box-shadow: inset 0 2px 2px 0 #696969;
}

.active-menu-button {
  background: #d07058;
  text-decoration: none;
}

/* header contacts */

.index-header-contacts {
  margin-bottom: -145px;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
  margin-top: -9px;
}

.header-contacts p {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 5px;
}

.header-contacts a {
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
}

/* main menu dropdown */

.sub-menu {
  display: none;
  z-index: 1;
}

.sub-menu-container {
  position: relative;
}

.sub-menu-container:hover .sub-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.sub-menu {
  position: absolute;
  background-color: rgba(248, 247, 244, 1);
  border-radius: 5px;
  width: 143px;
  margin: 0;
  padding: 4px 0px;
  top: 30px;
  left: -7px;
  box-shadow: 0px 15px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.sub-menu a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  text-decoration: none;
  padding: 0;
}

.sub-menu li {
  padding: 4px 20px;
  margin-top: 1px;
}

.sub-menu li:first-child {
  margin-bottom: 7px;
}

.sub-menu li:first-child a {
  font-size: 14px;
  font-weight: 700;
  color: black;
}

.sub-menu li:first-child a:after {
  content:'';
  display: block;
  width: 127px;
  height: 1px;
  position: absolute;
  top: 40px;
  left: 6px;
  background-color: rgba(0, 0, 0, 0.2);
}

.sub-menu li:hover {
  background: #fbded7;
}

.sub-menu li:active {
  background: #f6b5a5;
}

.sub-menu-current {
  background: rgba(202, 112, 88, 1);
}

.sub-menu-current a {
  color: white;
}

/* user navigation */

.user-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.user-navigation p {
  padding: 0;
  margin: 0;
}

.user-navigation a {
  padding: 0;
  margin: 0;
}

.user-navigation li {
  padding: 0;
  margin: 0;
  margin-right: 10px;
  padding-bottom: 13px;
}

.user-navigation li:last-child {
  margin: 0;
}

/* main menu search */

.search {
  z-index: 1;
}

.search form {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  position: relative;
}

.search-wrapper {
  display: none;
  background-color: #f8f7f4;
  border-radius: 5px;
  padding: 20px 15px;
}

.search:hover .search-wrapper {
  display: block;
  position: absolute;
  top: 36px;
  width: 310px;
}

.search input {
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  padding: 14px 14px;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
}

.search input::placeholder {
  color: #999;
  font-weight: 400;
}

.search:hover button  {
  background-color: white;
}

.search:hover button path {
  fill: #000000;
}

.search button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  width: 31px;
  height: 31px;
  border: none;
}

/* form basic */
.form-basic input:hover {
  border-color: #c7c6c5;
  border-width: 2px;
  padding: 13px;
}

/* login form */

.user-login {
  position: relative;
}

.login {
  display: inline-flex;
  font-size: 14px;
  line-height: 16px;
  background: rgba(255, 255, 255, 0.3);
  padding: 7px 15px 7px 17px;
  border-radius: 20px;
  white-space: pre;
  vertical-align: middle;
}

.user-login:hover .login {
  background: white;
  color: black;
}

.user-login:hover .login path,
.user-login:hover .login polygon {
  fill: #000000;
}

.user-login:hover .login-form {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.login-form {
  position: absolute;
  top: 37px;
  right: 0px;
  width: 255px;
  background-color: #f8f7f4;
  border-radius: 5px;
  padding: 20px;
}

.login-form {
  display: none;
}

.login-form-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.login-form-wrapper-inner {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.login-form input {
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  width: 100%;
  padding: 14px 14px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.login-form input::placeholder {
  color: #999;
  font-weight: 400;
}

.login-form a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
}

/* slider */

.global-wrapper {
  background-color: #849d8f;
}

.index-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.index-wrapper::before,
.index-wrapper::after {
  content: "";

  visibility: hidden;
}

.index-wrapper::before {
  background-image: url("../img/slide2.png");
}

.index-wrapper::after {
  background-image: url("../img/slide3.png");
}

.slider-section {
  position: relative;
  margin-top: 392px;
}

.slider-controls {
  text-align: center;
  position: absolute;
  bottom: 62px;
  left: 0;
}

.slider-controls label {
  vertical-align: top;
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 4px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: rgba(255, 255, 255, 0.3)
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.slider-section li {
  display: none;
  list-style: none;
  min-width: 100%;
  margin-bottom: 40px;
}

.slider-section b {
  display: inline-flex;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 690px;
}

.slider-section a {
  margin-top: 30px;
}

#product-1:checked ~ .index-wrapper #slide1,
#product-2:checked ~ .index-wrapper #slide2,
#product-3:checked ~ .index-wrapper #slide3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#product-1:checked ~ .index-wrapper label[for="product-1"],
#product-2:checked ~ .index-wrapper label[for="product-2"],
#product-3:checked ~ .index-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

#product-1:checked ~ .index-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide1.png");
}

#product-2:checked ~ .index-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide2.png");
}

#product-3:checked ~ .index-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide3.png");
}

/* buttons */

.button {
  text-decoration: none;
  border: 0;
  color: white;
  background-image: linear-gradient(to bottom, #f16743, #e54a35);
  box-shadow: 0 2px 5px 0 #ac1000;
}

.login-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 20px / 25px;
  padding: 10px 23px;
  margin-right: 20px;
}

.slider-button {
  padding: 10px 40px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  text-shadow: 0px 2px 5px #ac1000;
  border-radius: 30px;
}

.product-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 19px / 25px;
  padding: 10px 18px;
}

.button:hover {
  background-image: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 2px 5px 0 #ac1000;
}

.button button:active {
  background-image: linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 2px 2px 0 #942718;
}

.big-button {
  font-size: 32px;
  font-weight: 700;
  text-shadow: 0px 2px 5px #ac1000;
}

.medium-button {
  font-size: 18px;
  font-weight: 700;
}

/* promo section */

.promo-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 38px;
}

.promo-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-size: cover;
  margin: 0;
  border-radius: 15px;
  padding: 18px 20px 24px 20px;
}

.promo-container a {
  align-self: flex-end;
}

.promo-container:nth-child(1) {
  background: #3f0c17 url('../img/raspberries.jpg') no-repeat;
  margin-right: 27px;
}

.promo-container:nth-child(2) {
  background: #422a1f url('../img/chocolate.jpg') no-repeat;
}

.promo-header {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  padding: 0;
  margin: 0;
  margin-bottom: 13px;
}

.promo-container p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
}

.promo-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 11px 22px;
  border-radius: 30px;
}

/* products */

.bestsellers,
.catalog-products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bestsellers .product:before {
  content: '';
  position: absolute;
  width: 61px;
  height: 61px;
  background: url(../img/bestseller.svg) no-repeat;
  top: 0px;
  left: 0px;
}

.product {
  width: 267px;
  min-height: 335px;
  position: relative;
}

.product-image {
  border-radius: 50%;
  overflow: hidden;
  width: 266px;
  height: 266px;
  margin-bottom: -57px;
}

.price {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.price span {
  font-size: 30px;
}

.product-name {
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.product-hover {
  display: none;
}

.product:hover {
  z-index: 1;
}

.product:hover .product-hover {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  height: 105%;
  padding: 10px 10px 20px 10px;
  border-radius: 5px;
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: -2;
  box-shadow: 0px 15px 20px 0 rgba(0, 0, 0, 0.2);
}

/* main text */

.main-text {
  background: #e9dbbf url('../img/waffle-pattern.jpg') repeat;
  border-radius: 15px;
  overflow: hidden;
  padding: 25px 20px;
  margin-bottom: 40px;
}

.main-text-header {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #323232;
  padding: 0;
  margin: 0;
}

.main-text-wrapper {
  display: flex;
  flex-direction: row;
}

.text-block-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
}

.main-text-block {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  margin: 0;
  padding: 20px 0 0 0;
  margin-left: 55px;
}

.block-first:before {
  content: url(../img/icecream-icon.svg);
  display: block;
  width: auto;
  height: auto;
  position: absolute;
  top: 8px;
  left: 0px;
}

.block-second:before {
  content: url(../img/leave-icon.svg);
  display: block;
  width: auto;
  height: auto;
  position: absolute;
  top: 96px;
  left: 0px;
}

.block-third:before {
  content: url(../img/cow-icon.svg);
  display: block;
  width: auto;
  height: auto;
  position: absolute;
  top: 8px;
  left: 0px;
}

.block-fourth:before {
  content: url(../img/thermometer-icon.svg);
  display: block;
  width: auto;
  height: auto;
  position: absolute;
  top: 96px;
  left: 0px;
}


/* blog-subscribe */

.blog-subscribe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 35px;
}
/* blog */

.blog-preview {
  width: 50%;
  background: #ffffff url('../img/strawberry.png') no-repeat;
  background-position: -10px -230px;
  border-radius: 15px;
  margin-right: 27px;
  padding: 25px 20px;
}

.blog-previev-header {
  color: black;
  font-size: 16px;
  line-height: 22px;
  padding: 0;
  margin: 0;
  margin-bottom: 2px;
}

.blog-preview a {
  display: inline-flex;
  color: black;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  padding: 0;
  margin: 0;
  width: 290px;
}

.blog-preview a:hover {
  color: #ffbc9e;
}

.blog-preview a:active {
  color: #ffbc9e;
}
/* subsribe */

.subscribe-wrapper {
  width: 50%;
  background: repeating-linear-gradient(135deg, white 0px, white 10px, #92cdff 10px, #92cdff 20px, white 20px, white 30px, #fe9e90 30px, #fe9e90 40px);
  border-radius: 10px;
  padding: 5px;
}

.subscribe {
  background-color: #f8f7f4;
  border-radius: 7px;
  margin: 0px;
  padding: 12px 22px 30px 22px;
}

.subscribe p {
  font-size: 16px;
  font-weight: 22px;
  color: #5a5a5a;
  margin-bottom: 35px;
}

.subscribe form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subscribe input {
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  padding: 14px 14px;
  margin-right: 13px;
  flex-grow: 1;
}

.subscribe-button {
  font-size: 18px;
  line-height: 24px;
  padding: 9px 18px;
  border-radius: 20px;
}

.subscribe input::placeholder {
  color: #999;
  font-weight: 400;
}

/* index map */

.map {
  background-image: url('../img/map.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 430px;
  padding: 60px 0;
  margin-right: 25px;
  margin: 0;
}

.map .container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.map-contacts {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  width: 260px;
  min-height:  235px;
  border-radius: 15px;
  padding: 25px 20px;
}

.contacts {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.contacts span {
  display: inline-flex;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 0px 0px 13px 0px;
  margin: 0;
}

.map-tel {
  display: inline-flex;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #323232;
  margin: 6px 0 0 0;
}

.map-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 20px;
  align-self: center;
}

/* footer */

.index-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

.social-media ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.social-media li {
  list-style: none;
  padding-right: 10px;
}

.social-button {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid ;
  padding: 16px 16px;
  border-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  font-size: 0;
  opacity: 0.8;
}

.social-button:hover {
  opacity: 1;
}

.social-button:active {
  opacity: 0.8;
  border-color: rgba(255, 255, 255, 0.8);
}

.twitter {
  background: url('../img/twitter.svg') no-repeat;
  background-position: center;
}

.instagram {
  background: url('../img/instagram.svg') no-repeat;
  background-position: center;
}

.facebook {
  background: url('../img/facebook.svg') no-repeat;
  background-position: center;
}

.vk {
  background: url('../img/vk.svg') no-repeat;
  background-position: center;
}

.footer-menu ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.footer-menu-wrapper {
  display: flex;
  flex-direction: column;

}

.footer-menu li {
  list-style: none;
  padding-right: 30px;
}

.footer-menu a {
  font-size: 13px;
  line-height: 18px;
}

.index-footer a:hover {
  color: #ffbc9e;
}

.index-footer a:active {
  color: #ffbc9e;
}

.heart {
  font-weight: 700;
  position: relative;
}

.heart:before,
.heart:after {
  content: '';
  width: 8px;
  height: 12px;
  background-color: white;
  border-radius: 50% 50% 0 0;
  position: absolute;
  top: 1px;
}

.heart:before {
  transform: rotate(-45deg);
  left: -17px;
}

.heart:after {
  transform: rotate(45deg);
  left: -14px;
}

.developer {
  display: flex;
  flex-direction: column;
}

.developer a {
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
}

.developer span {
  text-decoration: underline;
}

/* modal */

.modal {
  position: fixed;
  z-index: 100;
}

/* callback form */

.callback-form {
  display: none;
  background-color: #f8f7f4;
  top: 140px;
  left: 50%;
  margin-left: -237px;
  padding: 17px 25px 30px 25px;
  border-radius: 5px;
  width: 427px;

}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.modal-close:before,
.modal-close:after {
  content: '';
  position: absolute;
  width: 22px;
  height: 3px;
  background-color: #000;
  top: 7px;
  right: -2px;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.callback-form h4 {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
  font-weight: 400;
  margin: 0;
  margin-bottom: 18px;
}

.callback-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.callback-form input {
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  padding: 12px 12px;
  margin-bottom: 20px;
  width: 265px;
  box-sizing: border-box;
}

.callback-form input[type="textarea"] {
  width: 100%;
  box-sizing: border-box;
}
/* почему атрибут rows не работает? */

.callback-form input::placeholder {
  color: #999;
  font-weight: 400;
}

.callback-button {
  font-weight: 18px;
  line-height: 24px;
  font-weight: 700;
  align-self: flex-end;
  padding: 10px 25px;
  border-radius: 50px;
}

/* catalog header */

.catalog-header-contacts {
  margin-bottom: -25px;
}

.catalog-header {
  display: flex;
  flex-direction: column;
}

.catalog-header li {
  list-style: none;
}

/* catalog cart */

.cart .empty-cart {
  display: inline-flex;
  position: relative;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  background: rgba(255, 255, 255, 0.2);
  padding: 8px 35px 8px 45px;
  border-radius: 20px;
}

.empty-cart:before {
  position: absolute;
  top: 6px;
  right: 80px;
  content: url(../img/cart-empty-icon.svg);
}

.cart .full-cart {
  display: inline-flex;
  position: relative;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  background: white;
  padding: 8px 15px 8px 40px;
  border-radius: 20px;
  color: black;
}

.full-cart:before {
  position: absolute;
  top: 6px;
  right: 77px;
  content: url("../img/cart-full-icon.svg");
}

.cart-expand {
  background-color: #f8f7f4;
  display: none;
  border-radius: 5px;
  padding: 20px 15px;
}

.cart {
  position: relative;
}

.cart:hover .cart-expand {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 36px;
  right: 0px;
  width: 510px;
}

.cart-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-top: 5px;
  margin-bottom: 15px;
}

.cart-expand:after {
  content: '';
  position: absolute;
  top: 130px;
  left: 15px;
  width: 95%;
  height: 1px;
  background-color: #cacac7;
  z-index: 10;
}

.cart-row .cart-cross {
  margin-right: 15px;
  align-self: flex-start;
}

.cart-row .cart-product {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 13px;
  align-self: flex-start;
}

.cart-row p {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.cart-row .cart-name {
  display: inline-flex;
  width: 220px;
  margin-right: 26px;
}

.cart-row .cart-weight {
  display: inline-flex;
  width: 105px;
  margin-right: 20px;
  white-space: pre;
}

.cart-row span {
  color: #999999;
}

.cart-expand .total {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
  align-self: flex-end;
  padding: 15px 0px;
}

.cart-expand .cart-button {
  align-self: flex-end;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 30px;
}

/* catalog main */

.catalog-h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

/* breadcrumbs */

.breadcrumbs a:hover {
  color: #ffbc9e;
}

.breadcrumbs a:active {
  color: #ffbc9e;
}

.breadcrumbs ol {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.breadcrumbs li {
  padding-right: 20px;
  list-style: none;
  position: relative;
}

.breadcrumbs li:not(.breadcrumb-active):before,
.breadcrumbs li:not(.breadcrumb-active):after {
  content:'';
  display: block;
  width: 5px;
  height: 1px;
  position: absolute;
}

.breadcrumbs li:before {
  transform: rotate(45deg);
  top: 8px;
	background-color: white;
  left: 66px;
  box-shadow: 3px -3px 0 0 white;
}

.breadcrumbs li:after {
  transform: rotate(-45deg);
  top: 11px;
	background-color: white;
  left: 66px;
  box-shadow: 3px 3px 0 0 white;
}

.breadcrumb-active a {
  text-decoration: none;
}

/* catalog filter */

.catalog-filter form {
  display: flex
  flex-direction: column;
  justify-content: center;
}

.catalog-filter-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.select-id-wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}

.catalog-select {
  display: inline-flex;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: rgba(225, 225, 225, 0.3);
  padding: 10px 40px 10px 20px;
  border-radius: 20px;
  color: white;
  z-index: 2;
}

.catalog-select:hover {
  color: black;
}

.select-id-wrapper {
  position: relative;
}

.select-id-wrapper:after {
  content: '';
  display: inline-flex;
  position: absolute;
  right: 25px;
  top: 36px;
  border: 6px solid transparent;
  border-top: 12px solid white;
}

.select-id-wrapper:hover:after {
  border-top: 12px solid black;
}

.price-range-wrapper input  {
  display: none;
}

.price-range-label {
  margin: 0px 0px 10px 22px;
}

.price-range-inner-wrapper {
  background-color: rgba(255, 255, 255, 0.2);
  width: 198px;
  height: 37px;
  border-radius: 22px;
  position: relative;
  overflow: hidden;
  padding: 0 22px;
}

.scale {
  margin-top: 16px;
  height: 5px;
  background: rgba(255, 255, 255, 0.5);
}

.scale-toggled {
  position: absolute;
  top: 16px;
  left: 58px;
  width: 97px;
  height: 5px;
  background: white;
}

.toggle {
  position: absolute;
  cursor: pointer;
  border: 9px solid white;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #ababab;
  top: 8px;
}

.toggle-min {
  left: 45px;
}

.toggle-max {
  right: 77px;
}


.fat-select {
  border: none;
}

.fat-select-wrapper {
  background: rgba(255, 255, 255, 0.3);
  padding: 11px 20px 8px 12px;
  border-radius: 30px;
}

.fat-select input[type=radio] {
  display: none;
}

.fat-select-radio:not(checked) + label {
  position: relative;
  padding-left: 45px;
}

.fat-select-radio:not(checked) + label:before {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 10px;
  top: -5px;
}

.fat-select-radio:checked + label:after {
  content: "";
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  position: absolute;
  left: 18px;
  top: 3px;
}

.fill-select {
  border: none;
}

.fill-select input[type=checkbox] {
  display: none;
}

.fill-select-wrapper {
  background: rgba(255, 255, 255, 0.3);
  padding: 11px 20px 8px 12px;
  border-radius: 30px;
}

.fill-select-checkbox + label {
  position: relative;
  padding-left: 45px;
}

.fill-select-checkbox:not(checked) + label:before {
  content: url(../img/checkbox-off.svg);
  opacity: 0.7;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 15px;
  top: -2px;
}

.fill-select-checkbox:not(checked):hover + label:before {
  opacity: 1;
}

.fill-select-checkbox:not(checked):disabled + label:before {
  opacity: 0.3;
}

.fill-select-checkbox:checked + label:after {
  content: url(../img/checkbox-on.svg);
  opacity: 0.7;
  position: absolute;
  left: 15px;
  top: -2px;
  z-index: 1;
}

.fill-select-checkbox:checked:hover + label:after {
  opacity: 1;
}

.fill-select-checkbox:checked:disabled + label:before {
  opacity: 0.3;
}

.catalog-filter-button {
  color: white;
  text-decoration: none;
  padding: 0.5em 1.4em;
  font-size: 16px;
  font-weight: 400;
  border: 2px solid white;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.2);
}

.catalog-filter-button:hover {
  color: #333333;
  background: #ffffff;
}

.catalog-filter-button:active {
  color: #333333;
  background: #eaeaea;
  box-shadow: inset 0 2px 2px 0 #696969;
  padding: 0.7em 1.4em;
  border: none;
}

/* catalog products */

/* catalog pagination */

.pagination {
  display: flex;
  flex-direction: row-reverse;
}

.pagination ul {
	display: flex;
	flex-direction: row;
	list-style: none;
  margin: 0;
}

.pagination a {
	color: white;
	text-decoration: none;
  padding: 5px 10px;
	margin: 0px 2px;
	position: relative;
}

.pagination .active-page {
	color: black;
	background: white;
	border-radius: 50%;
}

.pagination a:hover:not(.active-page) {
	background: #9db1a5;
	border-radius: 50%;
}

.pagination li:last-child a:before,
.pagination li:last-child a:after,
.pagination li:first-child a:before,
.pagination li:first-child a:after {
  content:'';
  display: block;
  width: 8px;
  height: 2px;
  position: absolute;
}

.pagination li:first-child a:before {
  transform: rotate(-45deg);
  top: 10px;
	background-color: #9bafa4;
  left: -17px;
}

.pagination li:first-child a:after{
  transform: rotate(45deg);
  top: 15px;
	background-color: #9bafa4;
  left: -17px;
}

.pagination li:last-child a:before {
  transform: rotate(225deg);
  top: 10px;
	background-color: white;
  right: -17px;
}

.pagination li:last-child a:after{
  transform: rotate(-45deg);
  top: 15px;
	background-color: white;
  right: -17px;
}
