body {
  font-family: "Roboto", sans-serif;
  padding: 0%, 2.3%;
  background-color: #849d8f;
  color: white;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}

h2 {
  font-size: 35px;
  font-weight: bold;
}

h3, h5 {
  font-size: 16px;
  font-weight:  normal;
}

h4 {
  font-size: 24px;
  font-weight:  normal;
}

h6 {
  font-size: 14px;
  font-weight:  normal;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* header */

header {
  display: flex;
  flex-direction: row;
}

header li {
  list-style: none;
}

.main-navigation, .user-navigation {
  display: flex;
  flex-direction: row;
}

.main-navigation > li > a {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.sub-menu {
  display: none;
}

.main-navigation > li:hover .sub-menu {
    display: flex;
    flex-direction: column;
}

.main-navigation > li:focus .sub-menu {
    display: flex;
    flex-direction: column;
}

/* не понял как заставить меню выпадать через tab */

.sub-menu a {
  font-size: 14px;
  font-weight: normal;
  color: black;
  text-decoration: none;
}

.sub-menu li:first-child a {
  font-size: 14px;
  font-weight: bold;
  color: black;
  text-decoration: underline;
}

/* slider */

/* promo */

/* bestsellers */

h3 a {
  color: white;
  line-height: 22px;
  text-align: center;
}
